extends layout

block content
  .container
    form.poll-form(action='/')
      .form-group.question-group
        label(for='question') Question
        input.form-control(type='text', name='question', placeholder='Your Question')
      .form-group
        label(for='choice1') Choice #1
        input.form-control(type='text', name='choice1', placeholder='Choice #1')
      .form-group
        label(for='choice2') Choice #2
        input.form-control(type='text', name='choice2', placeholder='Choice #2')
      input.btn-create(type='submit', name='create-poll', value='Create Poll')
