extends layout

block content
  h1 Create Poll
  form(method="post" action="/createpoll")
    .form-group
      label(for='question') Question
      input#question.form-control(type='text', name='question')
    .form-group
      label(for='choice1') Option #1
      input#option1.form-control(type='text', name='choice1')
    .form-group
      label(for='choice2') Option #2
      input#option2.form-control(type='text', name='choice2')
    input.submit(type='submit' value='SUBMIT')
      

