extends layout

block content
  h1.title--live
  .choices.choice1
    p.text
    span.voteCount 
  .choices.choice2
    p.text
    span.voteCount 
    
  a.button(href='/createpoll', target='_blank') Create a poll