extends layout

block content
  div.poll-container
    h1.title--live
    p.feedback Start voting now! Remember, you can only vote once.
    .options
      //option 1
      .option(data-id="1")
        p.opt1
        .count.count1
          span
      //option 2
      .option(data-id="2")
        p.opt2
        .count.count2
          span
    a.button(href='/createpoll', target='_blank') Create a poll