body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #ffffff;
}

a {
  color: #2EBC99;
  text-decoration: none;
}

label{
  display: block;
  margin: 15px 0px 5px 0px;
}

.form-group {
  margin-bottom: 10px;
  display: block;
}

.form-control {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}

.button {
  border: none;
  padding: 8px 15px 8px 15px;
  background:#2EBC99;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-transform: uppercase;
}

input[type="submit"]{
  border: none;
  padding: 8px 15px 8px 15px;
  background:#2EBC99;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

input[type="submit"]:hover {
  background: #2EBC99;
  color: #fff;
}

h1.title--live {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.feedback {
  display: none;
}

.options {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}

.option {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.option p {
  grid-column: 1/span 1;
  text-decoration: underline;
}

.count {
  background: #2EBC99;
  padding: 10px;
  padding-right: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0 0.5em 0.5em 0;
  border-radius: 0 1.5em 1.5em 0;
  grid-column: 2 / span 1;
  align-self: center;
  visibility: hidden;
  width: 0;
}

.count span {
  font-size: 0.8em;
  color: #ffffff;
}
